@font-face {
    font-family: Pinar;
    src: url(../assets/fonts/Pinar-[@fontraigannn]/PINAR-DS3-BLACK.TTF);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Pinar;
    src: url(../assets/fonts/Pinar-[@fontraigannn]/PINAR-MEDIUM.TTF);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Pinar;
    src: url(../assets/fonts/Pinar-[@fontraigannn]/PINAR-LIGHT.TTF);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Pinar;
    src: url(../assets/fonts/Pinar-[@fontraigannn]/PINAR-DS3-REGULAR.TTF);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Pinar;
    src: url(../assets/fonts/Pinar-[@fontraigannn]/PINAR-DS3-SEMIBOLD.TTF);
    font-weight: 600;
    font-style: semibold;
}

body *{
    font-family: Pinar, sans-serif;
    font-weight: normal;
}

a{
    font-family: Pinar;
    font-weight: 300;
}

h1 {
    font-weight: bold;
}
